
<suite name="TFleet" verbose="2" >
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="1.Reservation" >
        <classes>
            <class name="regression.Reservation.ReservationTest" />


        </classes>
    </test>



</suite>
